*.o
*.lo
*.la
*.swp
.deps/
.libs/
build-aux/
Makefile
Makefile.in
aclocal.m4
autogen.log
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
libtool
journal-triggerd
journal-triggerd.1
index.html
stamp-h1
